*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.app_header{
    background-image: url(../img/th.jpg);
    height: 75px;
    border: 2px solid black;
}

.text_banner{
    font-size: 50px;
    color: aliceblue;
    padding-left: 10px;
}

.container_flexbox{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    width: 80%;
    margin: auto;
}

.square{
    width: 350px;
    height: 700px;
    background-image: url(../img/th\ \(1\).jpg);
    margin: auto;
    color: white
    ;
}


.btn_java{
   box-shadow: 2px;
    border-color: rgb(13, 202, 70);
    background-color: coral;

}
